        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-20 col-lg-8">
              <div class="title text-center">
                <h1 class="mb-10">About Me</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-6 qty-left">
              <div class="single-qly">
                <h3 class="text-uppercase">Big Ass Fans</h3>
                <p>May 2015 - Present</p>
                <h4 class="pt-20 pb-20">Database Architect</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
              </div>
              <div class="btm-border d-block mx-auto"></div>
              <div class="single-qly">
                <h3 class="text-uppercase">Archvision</h3>
                <p>May 2014 - May 2015</p>
                <h4 class="pt-20 pb-20">Intern Software Developer</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 qty-right">
              <div class="single-qly">
                <h4 class="pb-10">Bachelors in Computer Science</h4>
                <h5 class="pb-20">University of Kentucky</h5>
                <p><b>Completed</b>: May 2015 <span class="lnr lnr-graduation-hat"></span> <b>GPA</b>:  3.6</p>
                <p></p>
                <p><b>Awards</b>: Dean's List (Spring 2013, 2014, 2015) </p>
                </br>
                <p>
                  <b>Coursework</b></br><!-- TO-DO: Replace ~ with some sort of bullet-->
                  Software Engineering <span class="lnr lnr-graduation-hat"></span> Logic + Theory of Computing </br>
                  Artificial Intelligence <span class="lnr lnr-graduation-hat"></span> Algorithm Design + Analysis </br>
                  Operating Systems <span class="lnr lnr-graduation-hat"></span> Compilers <span class="lnr lnr-graduation-hat"></span> Computer Graphics + Multimedia
                </p>
              </div>
              <div class="btm-border d-block mx-auto"></div>
              <div class="single-qly">
                <h4 class="pb-10">Bachelors in Economics</h4>
                <h5 class="pb-20">Appalachian State University</h5>
                <p><b>Completed</b>: June 2009</p>
                </br>
                <p>
                  <b>Coursework</b></br><!-- TO-DO: Replace ~ with some sort of bullet-->
                  Intermediate Price Theory <span class="lnr lnr-graduation-hat"></span> Cost Benefit Analysis </br>
                  Organizational Behavior <span class="lnr lnr-graduation-hat"></span> Strategic Management </br>
                  Negotiation + Conflict Resolution
                </p>
              </div>
            </div>

          </div>
        </div>
