        <header class="default-header">
          <nav class="navbar navbar-expand-lg  navbar-light">
            <div class="container">
              <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" alt="lifeofabit">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-white lnr lnr-menu"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li><a href="#home">Home</a></li>
                  <li><a href="#solutions">Solutions</a></li>
                  <li><a href="#about">About</a></li>
                  <!-- <li><a href="#projects">Projects</a></li> -->
                  <li><a href="#contact">Contact</a></li>
                  <!-- Dropdown  This is cool and I want to use this for Projects and other menu items
                  <li class="dropdown">
                  <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Pages
                  </a>
                  <div class="dropdown-menu">
                  <a class="dropdown-item" href="generic.html">Generic</a>
                  <a class="dropdown-item" href="elements.html">Elements</a>
                  </div>
                  </li-->
                </ul>
              </div>
            </div>
          </nav>
        </header>
        <div class="container">
  				<div class="row justify-content-start align-items-center">
  					<div class="col-lg-6 col-md-12 no-padding banner-right">
  						<img class="img-fluid" src="static/img/banner.png" alt="">
  					</div>
  					<div class="col-lg-6 col-md-12 banner-left">
  						<h1 class="text-white">
  							Hi, I’m </br>
  							<span>Matt Downs</span> </br>
  							Data Engineer/Data Scientist
  						</h1>
  						<p class="mx-auto text-white  mt-20 mb-40">
  							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br>
                or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
  						</p>
  						<!-- <a href="#" class="text-uppercase header-btn">Let Us Talk</span></a> -->
  					</div>
  				</div>
  			</div>
