<html> <!--lang="zxx" class="no-js"-->
  <head>
    <!-- Mobile Specific -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Life of a Bit</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css?v={{ rand }}">
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css?v={{ rand }}">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css?v={{ rand }}">
    <link rel="stylesheet" type="text/css" href="/static/css/linearicons.css?v={{ rand }}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css?v={{ rand }}">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css?v={{ rand }}">
  </head>
  <body>
    <section id="home" class="banner-area">
      {% include "banner.html" %}
    </section>
    <section id="solutions" class="service-area section-gap">
      {% include "solutions.html" %}
    </section>
    <section id="about" class="about-area section-gap">
      {% include "about.html" %}
    </section>
    <section class="qualification-area pt-100 pb-80">
      {% include "skills.html" %}
    </section>
    <!-- <section id="projects" class="project-area section-gap">
      {% include "projects.html" %}
    </section> -->
    <section id="contact" class="contact-area section-gap">
      {% include "contact.html" %}
    </section>
    {% include "footer.html" %}

    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/main.js"></script>

  </body>
</html>
