        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
              <div class="title text-center">
                <h1 class="mb-10">Skills and Tools</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 about-left">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
              </p>
              <h4 class="pb-40">Programming Experience</h4>
              <div class="skillbar" data-percent="80%">
                <div class="skill-bar-percent">Python: 4 years</div>
                <div class="skillwrap">
                  <div class="skillbar-bar" style="width: 80%;"></div>
                </div>
              </div>

              <div class="skillbar" data-percent="100%">
                <div class="skill-bar-percent">SQL: 5 years</div>
                <div class="skillwrap">
                  <div class="skillbar-bar" style="width: 100%;"></div>
                </div>
              </div>

              <div class="skillbar" data-percent="60%">
                <div class="skill-bar-percent">C/C++: 3 years</div>
                <div class="skillwrap">
                  <div class="skillbar-bar" style="width: 60%;"></div>
                </div>
              </div>

              <div class="skillbar" data-percent="60%">
                <div class="skill-bar-percent">C#: 3 years</div>
                <div class="skillwrap">
                  <div class="skillbar-bar" style="width: 60%;"></div>
                </div>
              </div>

              <div class="skillbar" data-percent="40%">
                <div class="skill-bar-percent">Java: 2 years</div>
                <div class="skillwrap">
                  <div class="skillbar-bar" style="width: 40%;"></div>
                </div>
              </div>

              <div class="skillbar" data-percent="40%">
                <div class="skill-bar-percent">PHP: 2 years</div>
                <div class="skillwrap">
                  <div class="skillbar-bar" style="width: 40%;"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 about-right justify-content-end d-flex">
              <div class="myself-wrap">
                <!-- <img class="img-fluid" src="img/about-img.jpg" alt=""> -->
                <h4 class="pb-10">Database Experience</h4>
                <p>MS SQL Server, MySQL, PostgreSQL, AWS Redshift</p>
                <p>NoSQL - Mongo and DynamoDB</p>
                <h4 class="pb-10">Cloud Experience</h4>
                <p>Amazon Web Services, Microsoft Azure</p>
                <h4 class="pb-10">Big Data Experience</h4>
                <p>Spark, Hadoop, Apache Drill, Informatica</p>
                <h4 class="pb-10">Web Development Experience</h4>
                <p>HTML5, CSS, Flask, jQuery</p>

                <div class="btm-border d-block mx-auto"></div>
                <div class="desc">
                  <p>
                    <img src="/static/img/github.png">
                    <a href="https://www.github.com/lifeofabit">GitHub</a>
                  </p>
                  <p>
                    <img src="/static/img/linkedin.png">
                    <a href="https://www.linkedin.com/in/matthewrdowns/">LinkedIn</a>
                  </p>
                  <p>
                    <img src="/static/img/twitter.png">
                    <a href="https://www.twitter.com/lifeofabit">Twitter</a>
                  </p>
                  <p><span class="lnr lnr-envelope"></span> matt@lifeofabit.com</p>
                  <a class="mt-30 text-uppercase talk-btn" href="#contact">Contact Me</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
