        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
              <div class="title text-center">
                <h1 class="mb-10">Solutions Offered</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="single-service col-lg-6 col-md-6 mb-30">
              <div class="icon">
                <img src="/static/img/solution_icon1.png" alt=""><a href="#solutions">Database Development</a>
              </div>
              <div class="dec">
                <p class="mt-20">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                </p>
              </div>
            </div>
            <div class="single-service col-lg-6 col-md-6 mb-30">
              <div class="icon">
                <img src="/static/img/solution_icon2.png" alt=""><a href="#solutions">Extract, Transform, Load</a>
              </div>
              <div class="dec">
                <p class="mt-20">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                </p>
              </div>
            </div>
            <div class="single-service col-lg-6 col-md-6 mb-30">
              <div class="icon">
                <img src="/static/img/solution_icon3.png" alt=""><a href="#solutions">Web Scraping</a>
              </div>
              <div class="dec">
                <p class="mt-20">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                </p>
              </div>
            </div>
            <div class="single-service col-lg-6 col-md-6 mb-30">
              <div class="icon">
                <img src="/static/img/solution_icon4.png" alt=""><a href="#solutions">Cloud Development</a>
              </div>
              <div class="dec">
                <p class="mt-20">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                </p>
              </div>
            </div>
            <div class="single-service col-lg-6 col-md-6">
              <div class="icon">
                <img src="/static/img/solution_icon5.png" alt=""><a href="#solutions">Natural Language Processing</a>
              </div>
              <div class="dec">
                <p class="mt-20">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                </p>
              </div>
            </div>
            <div class="single-service col-lg-6 col-md-6">
              <div class="icon">
                <img src="/static/img/solution_icon6.png" alt=""><a href="#solutions">Automation</a>
              </div>
              <div class="dec">
                <p class="mt-20">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                </p>
              </div>
            </div>
          </div>
        </div>
